<div class="modal">
    <div class="modal-content">
       <div class="input-post">
        
            <div class="input-post-header">
                <h2> New Post </h2>
                <span class="close"> {{#link-to 'myposts'}} X {{/link-to}} </span>
            </div>

            <div> Title </div>
            {{input class="title" value=post.title}}

            <div> Content </div>
            {{textarea class="content" value=post.content}}

            <div> Tags </div>
            {{input class="title" value=post.tags}}

            <div class="save-btn-container">
                <button class="btn-save-post" {{action 'savePost'}}> Save </button>
            </div>
       </div>
    </div>
</div>

{{yield}}