

<div class="post" {{action 'viewPost' post}}>
    <span class="title"> {{post.title}} </span> <span class="author"> by {{post.author}} </span> 
    <span class="post-actions" {{action 'dummyAction' bubbles=false}}>
        {{#link-to 'posts.edit' post}} edit {{/link-to}} &nbsp;
        {{#link-to 'posts.delete' post}} delete {{/link-to}} 
    </span>
    <div class="desc"> {{post.content}} </div>
    <ul class="tags"> {{#each post.tagsArray as |tag|}} <li> {{tag}} </li> {{/each}} </ul>
</div>

{{yield}}