
{{#if authors.length}}
    <DropdownField @label='Filter by Author' @className='select-author' @options={{authors}} @selected={{author}} @onchange={{action 'onChange'}} />
{{/if}}

<div class="post-list">
    {{#each filteredPosts as |post|}}
        {{#unless post.isNew}}
            {{post-card post=post}}
        {{/unless}}
    {{else}}
        No posts yet.
    {{/each}}
</div>


{{yield}}